name: Demo GitHub Action
//
on:
  push:
    branches:
      - main

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print message
        run: echo "GitHub Action triggered on push to main"
